/*Daftar nama bahan custom di root*/
:root {
    --blue       : #000D5E;
    --graysoft   : #F8F8F8;
    --whitesoft  : #E1E1E1;
    --fwbold     : 700;
    --fwextrabold: 800;
    --fwsemibold : 600;
    --fwmedium   : 500;
    --fwregular  : 400;
}
/*Daftar nama bahan custom di root*/

body {
    background-color: var(--graysoft);
    font-family     : 'Roboto', sans-serif;
}

/*Daftar nama style font custom*/
.big-header {
    font-weight: var(--fwextrabold);
    color      : var(--blue);
    font-size  : 48px;
    margin     : 0;
}

.medium-header {
    font-weight: var(--fwextrabold);
    color      : var(--blue);
    font-size  : 25px;
    margin     : 0;
}

.small-header {
    font-weight: var(--fwextrabold);
    color      : var(--blue);
    font-size  : 22px;
    margin     : 0;
}

.primary-header {
    font-weight: var(--fwextrabold);
    color      : var(--blue);
    font-size  : 28px;
    margin     : 0;
}

/*Daftar nama style font custom*/

/*Daftar nama style bottom custom*/
.btn-primary{
    padding: 12px 20px 12px 20px;
    background: var(--blue);
    color: white;
    font-size: 16px;
    font-weight: var(--fwsemibold);
    border-radius: 50px;
    border: 0;
}
.btn-primary:hover{
    background: navy;
    color: white;
}
.btn-secondary{
    padding: 12px 20px 12px 20px;
    background: var(--graysoft);
    color: var(--blue);
    font-size: 16px;
    font-weight: var(--fwmedium);
    border-radius: 50px;
    border: 0;
}
.btn-secondary:hover{
    background: navy;
    color: white!important;
}
/*Daftar nama style bottom custom*/

/*Daftar nama custom hover nav-link*/
.navbar-nav .nav-item a:hover{
    color: var(--blue);
    transition: all 0.3s ease;
    font-weight: var(--fwbold);
}
.navbar-nav .nav-item a{
    color: black;
    transition: all 0.3s ease;
}
.navbar-nav .nav-item {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: var(--fwregular);
}
.navbar-brand{
    font-weight: var(--fwbold);
    font-size: 28px;
    color: var(--blue);
    font-family: 'Bricolage Grotesque', sans-serif;
}
.navbar-custom{
    padding: 25px;
    background: white;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
}
.navbar{
    --bs-navbar-padding-y:0;
}
/*Daftar nama custom hover nav-link*/